{% extends "jobs/header.html" %}
{% block content %}
<main role ="main">
	<div class="container">
		<h1 class="text-center pt-3"> Welcom to Abdurahman's Projects</h1>
		<br/>
		<br/>
		<h2>Lasted Projects</h2>
		<hr/>
		{% for job in jobs.all %}	
		<div class="card mb-3">
		  <img class="img-fluid" src="{{job.image.url}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <a href="{% url 'jobs_detail' job.id%}"><h5 class="card-title">{{job.title}}</h5></a>
		    <small class="text-muted">{{job.date|date:"Y-m-d"}}</small>
		    <p class="card-text">{{job.summary}}</p>
		  </div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock %}